@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

:root {
    --color-button-whatsapp: rgb(39, 225, 18);
    --color-text: white;
    --color-text2: #5c5c5c;
    --padding: 20px;
    --background-color: #456cce;
    --background-color-light: white;
    --borde-nav: 2px solid #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color-light);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
header {
    background-color: var(--background-color);
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 20px 15px 20px;
    color: var(--color-text);
}
.container-numbers {
    display: flex;
    gap: 10px;
    align-items: center;
}
.whatsapp-number a {
    color: var(--color-button-whatsapp);
    font-weight: 700;
    font-size: 20px;
    border-right: 2px solid white;
    padding-right: 10px;
}
.span-phone {
    display: flex;
    align-items: center;
}
.phone-number a {
    color: var(--color-text);
    font-weight: 700;
    font-size: 20px;
}
.contact a {
    text-decoration: none;
}
.contact a:hover {
    text-decoration: underline;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
    height: 100.86px;
    border: var(--borde-nav);
    border-radius: 90px;
    background-color: var(--background-color-light);
    z-index: 2;
}
.menu span {
    padding: 15px;
    margin: 0;
}
.menu span a {
    text-decoration: none;
    color: var(--color-text2);
}
.menu span a:hover {
    color: #3e8fd6;
}
.menu-img {
    height: 70px;
    padding-right: 20px;
}
.menu-img-mobile {
    width: 220px;
    height: auto;
}
.nav-mobile {
    display: none;
    padding-top: 20px;
}
.navbar {
    background-color: var(--background-color-light);
    border: var(--borde-nav);
    border-radius: 20px;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.nav-link {
    color: var(--color-text2);
}
.nav-item > a:active > span {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.navbar-toggler {
    border: 1px solid rgba(0, 0, 0, 0);
}
.navbar-toggler:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
}
.background {
    width: 100%;
}
.background-budgets {
    background-color: #334b93;
}
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
}
.carouselExampleControls {
    z-index: 0;
}
.carousel {
    width: 383px;
    height: 300px;
}
.carousel-inner {
    display: flex;
    align-items: center;
    height: 100%;
}
.carousel-control-next-icon {
    background-image: url(../img/seta-direita.png);
}
.carousel-control-prev-icon {
    background-image: url(../img/seta-esquerda.png);
}
.presentation-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
    color: var(--color-text);
}
.presentation-principal-h1 {
    font-size: 30px;
    color: var(--color-text);
    font-weight: 500;
    text-align: center;
    width: 582.08px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 23px;
}
.presentation-principal-p1 {
    width: 572.25px;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
.presentation-principal-p2 {
    padding-top: 20px;
}
.presentation-principal-gif {
    width: 37px;
    height: 30px;
}
.presentation-principal-gif:hover {
    scale: 1.1;
}
#about-company {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 456px;
    gap: 30px;
    background-color: var(--background-color-light);
}
.about-company-title {
    width: 525.44px;
    height: 343.28;
    color: var(--color-text2);
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.address-fundo {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-light);
    margin: 0 auto;
    padding: 40px 10px 40px 10px;
    border-radius: 50px;
}
#address {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text2);
    text-align: center;
    background-color: #fcfcfc;
}
.address-title {
    font-size: 35px;
    margin: 0;
}
.address-text {
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
    font-weight: 700;
}
.mapa {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 1170px;
    height: 450px;
}
#budgets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500.14px;
    background-color: #334b93;
}
.Budget-texts {
    color: var(--color-text);
    font-weight: 700;
}
.budgets-title {
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-weight: 700;
}
.budgets-list {
    font-size: 25px;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.budgets-list li span {
    color: #5bfbfe;
    padding-right: 10px;
}
.budgets-img-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.budgets-img {
    padding-right: 5em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.btns button:first-child a {
    text-decoration: none;
    color: var(--color-text);
}
.btns button:nth-child(2) a {
    text-decoration: none;
    color: var(--color-text2);
}
.btns :hover {
    text-decoration: underline;
}
.btns button {
    border-radius: 50px;
    font-size: 25px;
    border: none;
    font-weight: 700;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.budgets-btns {
    display: flex;
    justify-content: flex-start;
}
.btn-whatsapp {
    background-color: var(--color-button-whatsapp);
    color: var(--color-text);
}
.btn-phone {
    background-color: var(--background-color-light);
    color: var(--color-text2);
}
#services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #557cf2;
    background: linear-gradient(0deg, var(--background-color), #557cf2);
    gap: 50px;
}
.services-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-estrelas {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}
.services-h2 {
    text-align: center;
    color: var(--color-text);
    width: 652px;
    font-weight: 400;
    font-size: 25px;
}
#delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-light);
    gap: 50px;
}
.delivery-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.delivery-img img {
    height: 23em;
    width: auto;
}
.delivery-conteudo {
    width: 100%;
    text-align: center;
    color: var(--color-text2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.delivery-conteudo-h2 {
    font-size: 40px;
    width: 585.05px;
    font-weight: 700;
}
.delivery-conteudo-p {
    font-size: 20px;
    width: 646.84px;
}
#budget2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#557cf2, var(--background-color));
}
.budget2-texto {
    text-align: center;
    color: var(--color-text);
    width: 806px;
}
.budget2-texto-h2 {
    font-size: 40px;
    margin: 0;
    padding-top: 20px;
}
.budget2-texto-p {
    font-size: 22px;
}
.budget2-form-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 392px;
}
.budget2-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.budget2-form input {
    padding: var(--padding);
    border-radius: 50px;
    border: none;
    width: 500px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    letter-spacing: 1px;
    outline: none;
}
.budget2-form input:focus {
    outline: 3px solid rgba(0, 153, 255, 0.2);
}
.budget2-form button {
    display: flex;
    margin: 0 auto;
    width: 141.39px;
    padding: 12px 40px;
    font-size: 18px;
    color: var(--color-text);
    background-image: linear-gradient(
        99deg,
        rgb(28, 71, 158) 8%,
        rgb(49, 98, 196) 45%,
        rgb(57, 104, 199) 90%
    );
    border-radius: 50px;
    border: none;
    transition: 0.3s;
}
.budget2-form button:hover {
    scale: 0.9;
    cursor: pointer;
}
.footer-background {
    padding-top: 100px;
    width: 100%;
    height: 384.39px;
    background-image: url(/img/fundo.svg);
    background-repeat: no-repeat;
    background-size: 120% 100%;
}
.footer-fundo {
    background-color: var(--background-color-light);
    width: 67%;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / 9%);
    text-align: center;
    margin: 0 auto;
    padding: 25px 20px;
}
.footer-fundo p {
    margin: 0;
    color: var(--color-text2);
    font-size: 14px;
}
.clock-img {
    padding-right: 5px;
    padding-bottom: 2px;
}
.link-privacy-policy-page {
    color: var(--color-text2);
    text-decoration: none;
}
.link-privacy-policy-page:hover {
    color: var(--color-text2);
    text-decoration: underline;
}
.hide {
    display: none;
    opacity: 0;
}
.fixed {
    position: fixed;
    top: 0;
}

/* Página Polica de privacidade */
.whatsapp-number-2page a {
    color: #189d0e;
    border-right: 2px solid black;
}
.privacy-policy {
    background: rgb(86, 124, 242);
    background: linear-gradient(
        180deg,
        rgba(86, 124, 242, 1) 0%,
        rgba(69, 108, 207, 1) 100%
    );
    width: 100%;
}
.background-privacy-policy {
    background-color: #f5f5f5;
}
.privacy-policy-title {
    width: 492px;
    height: auto;
    background-color: var(--background-color-light);
    padding: 15px 5px 15px 5px;
    margin-bottom: 40px;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--color-text2);
}
.privacy-policy-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20% 0 20%;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-size: 14px;
}
.privacy-policy-text-container h2 {
    font-size: 14px;
    font-weight: bold;
}
.privacy-policy-text-img {
    display: flex;
    width: 100%;
}
.privacy-policy-text-img img {
    width: 213px;
    height: 213px;
}

/* CELULAR */
@media (min-width: 280px) and (max-width: 767px) {
    main {
        width: 100vw;
    }
    .contact {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .whatsapp-number a {
        border-right: none;
        padding-right: 0;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
    }
    .menu {
        display: none;
    }
    .menu-background {
        width: 100%;
        height: 20em;
        display: flex;
        flex-direction: column;
    }
    .menu-img {
        max-width: 90%;
        max-height: 90%;
        padding: 0;
    }
    .presentation {
        padding-top: 3em;
        gap: 3px;
        display: flex;
        flex-direction: column;
    }
    .presentation-principal {
        width: 100vw;
        margin-top: 3em;
    }
    .carousel {
        width: 90vw;
        padding-top: 20px;
    }
    .presentation-principal-img {
        height: 2.5em;
    }
    .presentation-principal-p1 {
        width: 95vw;
    }
    .presentation-principal-h1 {
        width: 95vw;
    }
    .btns {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .fundo {
        width: 100vw;
    }
    #about-company {
        display: flex;
        flex-direction: column;
        height: 60em;
    }
    .about-company-img {
        width: 90vw;
    }
    .about-company-title {
        width: 90vw;
    }
    .address-fundo {
        width: 100vw;
    }
    .mapa {
        width: 90%;
        padding-bottom: 20px;
    }
    #budgets {
        height: 49em;
    }
    .budgets-title {
        font-size: 25px;
    }
    .budgets-img-btns {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        width: 100vw;
        gap: 0;
    }
    .budgets-img {
        padding: 0 0 40px 0;
        justify-content: center;
    }
    .img-whatsapp img {
        height: auto;
        width: 100px;
    }
    #services {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .services-logo {
        width: 90%;
    }
    .services-h2 {
        width: 95vw;
        padding-top: 1em;
    }
    .fundo4 {
        width: 100vw;
        height: auto;
    }
    #delivery {
        flex-direction: column;
        gap: 0;
    }
    .delivery-img {
        width: 90%;
    }
    .delivery-img img {
        padding-bottom: 20px;
        width: 100%;
        height: auto;
    }
    .delivery-conteudo {
        width: 95vw;
        margin: 0;
    }
    .delivery-conteudo-h2 {
        width: 95vw;
    }
    .delivery-conteudo-p {
        width: 95vw;
    }
    .budget2-texto {
        width: 100vw;
    }
    .budget2-texto-p {
        width: 100%;
        padding: 20px 10px 20px 10px;
    }
    .budget2-form-img {
        flex-direction: column;
        width: 100vw;
    }
    .budget2-form-img img {
        display: none;
    }
    .budget2-form {
        width: 95vw;
        align-items: center;
    }
    .budget2-form input {
        width: 95vw;
    }
    .footer-fundo {
        width: 95vw;
    }
    .nav-mobile {
        display: block;
    }

    /* Página Polica de privacidade */
    .whatsapp-number-2page {
        margin-bottom: 10px;
    }
    .whatsapp-number-2page a {
        color: #189d0e;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
    }
    .privacy-policy-title {
        width: 90%;
        font-size: 18px;
        margin: 20px;
    }
    .teste {
        padding: 0 5% 0 5%;
    }
    .teste2 {
        flex-direction: column;
        align-items: center;
    }
    .teste2 img {
        width: 213px;
        height: 213px;
    }
}
/* TABLET */
@media (min-width: 767px) and (max-width: 1023px) {
    .btns button {
        font-size: 13px;
    }
    .menu-background {
        width: 90%;
    }
    .menu-img {
        height: 60px;
    }
    .presentation {
        width: 100%;
        gap: 0;
        padding: 30px;
    }
    .presentation-principal {
        width: 100%;
        padding-left: 1em;
    }
    .presentation-principal-img {
        width: 15em;
    }
    .presentation-principal-h1 {
        width: 100%;
    }
    .presentation-principal-p1 {
        width: 100%;
    }
    .carousel-inner {
        width: 300px;
    }
    #about-company {
        padding: var(--padding);
    }
    .about-company-img {
        height: 18em;
    }
    .about-company-title {
        width: 387px;
        font-size: 31px;
    }
    .address-fundo {
        width: 100vw;
    }
    .mapa {
        width: 90%;
    }
    .Budget-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .budgets-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #services {
        padding: var(--padding);
    }
    .services-conteudo,
    .services-h2 {
        width: 100%;
    }
    #delivery {
        gap: 0;
        width: 100vw;
    }
    .delivery-img {
        height: 20em;
    }
    .delivery-conteudo p,
    .delivery-conteudo h2 {
        width: 95%;
    }
    .delivery-conteudo-subtext {
        font-size: 15px;
    }
    .budget2-texto {
        width: 100vw;
    }
    .budget2-form-img {
        width: 100vw;
    }
    .budget2-form input {
        width: 100%;
    }
    .footer-fundo {
        width: 90%;
    }

    /* Página Polica de privacidade */
    .teste {
        padding: 0 5% 0 5%;
    }
    .teste2 {
        width: 100%;
    }
}
/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1440px) {
    .menu-background {
        width: 90%;
    }
    .presentation {
        width: 100%;
        gap: 0;
        justify-content: space-around;
    }
    .presentation-principal {
        width: 100%;
        padding-left: 1em;
    }
    .presentation-principal-img {
        width: 15em;
    }
    .presentation-principal-h1 {
        width: 80%;
    }
    .presentation-principal-p1 {
        width: 80%;
    }
    #carouselExampleControls {
        margin-left: 100px;
    }
    .about-company-img {
        height: 18em;
    }
    .about-company-title {
        width: 50%;
    }
    .address-fundo {
        width: 100vw;
    }
    .mapa {
        width: 90%;
    }
    .budgets-img-btns {
        width: 100vw;
        justify-content: center;
        gap: 0;
    }
    .budgets-img {
        justify-content: center;
    }
    .services-conteudo,
    .services-h2 {
        width: 80%;
    }
    #carouselExampleControls2 {
        margin-left: 100px;
    }
    #delivery {
        gap: 0;
        width: 95%;
        padding: 0 20px 0 20px;
    }
    .delivery-img img {
        height: 25em;
        width: auto;
    }
    .delivery-conteudo,
    .delivery-conteudo-h2,
    .delivery-conteudo-p {
        width: 95%;
    }
    .budget2-texto {
        width: 100vw;
    }
    .budget2-texto-p {
        width: 100%;
    }
    .budget2-form-img {
        width: 100%;
    }
    .budget2-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .budget2-form {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .budget2-form input {
        width: 90%;
    }
    .footer-fundo {
        width: 90%;
    }
}
